.bio .headshot {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  border: 10px solid #FF9900; }
  .bio .headshot img {
    width: 100%;
    border: 10px solid #3299BB;
    border-radius: 50%; }

.bio h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.bio p a {
  text-decoration: none;
  font-weight: bold; }
